.layout {
  min-width: 100vw;
  min-height: 100vh;
}

.nav {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  position: fixed;
  width: var(--nav-width);
  min-height: 100vh;
  z-index: 5;
  background-color: var(--root-bg-color);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main  {
  margin-left: var(--nav-width);
  min-height: 100vh;
  width: calc(100vw - var(--nav-width));
  display: flex;
  align-items: center;
  flex-direction: column;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: var(--root-bg-color);
  color: var(--main-text-color);
  box-sizing: border-box;
}